.h1{
    text-align: center;
    color: #F7F7F7;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.h2{
    margin-left: 20%;
    color: #F7F7F7;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}


.grade{
    margin-left: 20%;
    color: #F7F7F7;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;



}
body{
/*     background-color: #34BE82; */
    background-image: url("back.jpg");;
}

label{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 20%;
    font-weight: bold;
    color: #EEEEEE;
}

input[type=number]{
    width: 10%;
    padding-left: 5px;
    margin: 8px 0;
    /* border: none; */


    /* box-sizing: border-box; */
}

.Copyright{
    margin-left: 20%;
    color: #F7F7F7;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 25%;
}

.pdf{
    margin-left: 20%;
    text-align: center;
}

p{

    margin-left: 20%;
    color: #F7F7F7;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}


.uni{
    margin-left: 20%;
}
